<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <custom-container>
      <custom-btn color="#d81b60" width="300" height="200">ボタンの例1</custom-btn>
      <custom-btn color="red">ボタンの例2</custom-btn>
      <custom-btn color="#1e88e5">ボタンの例3</custom-btn>
    </custom-container>
  </body>
  <script src="https://use.fontawesome.com/4025265e12.js"></script>
</html>
