<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <custom-container>
      <custom-tab>
        <button slot="title">Tab 1</button>
        <button slot="title" selected>Tab 2</button>
        <button slot="title">Tab 3</button>
        <section>content panel 1</section>
        <section>content panel 2</section>
        <section>content panel 3</section>
      </custom-tab>
    </custom-container>
  </body>
  <script src="https://use.fontawesome.com/4025265e12.js"></script>
</html>
